:root{
    --main-color: #C0392B;
    --black: #13131a;
    --bg:#FFF8F0;
    --accent: #D4A373;
    --border: 0.1rem solid #922B21;
    font-size: 10px;

}

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
}

body{
background-color: var(--bg);
display: flex;
justify-content: center;
}
section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
/* Pesquisar sobre POSITION dps */
.header {
    background-color: var(--main-color);
    position:fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}
.logo img{height: 12rem;}
.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--black);
}

.navbar a:hover{
    color: var(--accent);
    border-bottom: 0.1rem solid var(--accent);
    padding-bottom: 0.5rem;
}
.icons img{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.icons img:hover{
    width: 40px;
    height: 40px;
}

.btn{
    background-color: var(--main-color);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border: var(--border);
}

.home-container{
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1200px;
}

.home-container img{
    width: auto;
    border-radius: 10%;
    border: var(--border);
}

.home-container section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.content {
    max-width: 60rem;
}

.content h3{
    font-size: 6rem
}

.content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
}

.exemplo-comida{
    border-radius: 80%;
    width: 15rem;
    height: 15rem;
}

.receitas .box-container{
    display: grid;
}

.card {
    border: #13131a 1rem solid;
}