:root{
    --main-color: #C0392B;
    --black: #13131a;
    --bg:#FFF8F0;
    --accent: #D4A373;
    --border: 0.2rem solid #922B21;
    font-size: 10px;

}

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 14rem;
}
body{
background-color: var(--bg);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
/* Pesquisar sobre POSITION dps */
.header {
    background-color: var(--main-color);
    position:fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}
.logo img{height: 12rem;}
.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--black);
}

.navbar a:hover{
    color: var(--accent);
    border-bottom: 0.1rem solid var(--accent);
    padding-bottom: 0.5rem;
}
.icons img{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.icons img:hover{
    width: 40px;
    height: 40px;
}

.btn{
    background-color: var(--main-color);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border: var(--border);
}
.btn:hover{
    background-color: var(--accent);

}

.home-container{
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1200px;
}

.home-container img{
    width: auto;
    border-radius: 10%;
    border: var(--border);
}

.home-container section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.content {
    max-width: 60rem;
}

.content h3{
    font-size: 6rem
}

.content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
}

.exemplo-comida{
    border-radius: 80%;
    width: 12rem;
    height: 12rem;
}

.receitas .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem
}

.receitas .box-container .card {
    display: flex ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: var(--border);
    padding: 1rem;
}

.receitas .box-container .card h3{
    font-size: 3rem;
    font-weight: 300;
}

.receitas h2{
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    margin: 1.5rem;
}

.footer{
    background-color: var(--main-color);
    border-bottom: var(--border);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer .footer-content{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.footer .footer-content .loc h3{
    font-size: 2rem;
}
.footer .footer-content .loc p{
    font-size: 1.2rem;

}

.footer .footer-content .contatos h3{
    font-size: 2rem;
}
.footer .footer-content .contatos p{
    font-size: 1.2rem;

}

.footer .copyright{
    width: 100%;
    background-color: #922B21;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}